* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #292929;
    color: #fff;
}

#transactions {
    margin-top: 30px;
}

.transaction {
    background-color: #333;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 8px;
    overflow: hidden;
    margin: 2%;
}

.transaction-details {
    display: flex;
    flex-direction: row;
}

.left-details {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-left: 2%;
    margin-top: 1%;
}

.right-details {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: flex-end;
    margin-right: 2%;
}

.transaction:hover {
    background-color: #444;
}

.trans-name {
    font-size: 16px;
    margin-bottom: 5px;
    font-weight: bolder;
}

.trans-method {
    font-size: 13px;
    color: #e7e7e7;
    margin-top: 1%;
}

.trans-amount-income {
    font-size: 20px;
    color: #00b300;
    font-weight: bolder;
    margin-bottom: 5px;
}

.trans-amount-expense {
    font-size: 20px;
    color: #b30000;
    font-weight: bolder;
    margin-bottom: 5px;
}

.trans-currency-income,
.trans-currency-expense {
    font-size: 14px;
    margin-bottom: 5px;
}

.trans-date {
    font-size: 12px;
    color: #e7e7e7;
}

#back-btn {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

button {
    width: 120px;
    height: 40px;
    background-color: #252525;
    border-radius: 8px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #333;
}